@charset "utf-8";
/*-------------------------------------*/

body{
	background: #FFFFE0;
	line-height: 0.5;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin: 5px;
	text-align: center;
}

p#hedder {
	font-size: 3.0em;
	font-weight: bold;
	margin: 40px
}

#product {
	margin: 30px;
	font-size: 2.5em;
	font-weight: 600;
}

#msg {
	font-size: 1.2em;
	font-weight: 600;
}

#margin {
	margin: 15px
}
#item2 {
	margin-bottom: 10px
}

/*-------------------------------------*/
/* フォーム */
/*-------------------------------------*/
label{
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 120px;
	height: 45px;
	font-size: 1.2em;
	font-weight: bold;
	border-coler: #FFD700;
	background: url(../img/category_color_iphone.png) 0 0;
	color: #000000;
	border-style: none;
	border: solid 2px #FFD700;
	border-radius: 10px
}

input {
	display: none;
}

input[type="radio"]:checked + .label{
	background-position: left bottom;
	color: #FFFFFF;
}

select::-ms-expand {
    display: none;
}

option {
	background: ##FFBF00 url('Icon.GIF') no-repeat 4px center;
}

button#search_btn{
	width: 125px;
	height: 50px;
	margin: 15px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FFD700;
	color: #FFFFFF;
	border-style: none;
	border: solid 2px #FFD700;
	border-radius: 10px
}

button#search_btn[disabled]{
    background-color: #FFCC66;
    color: #EEEEEE;
}

/*-------------------------------------*/
/* マップ */
/*-------------------------------------*/

#map-canvas {
	width: 352px;
	height: 264px;
	border-style: none;
}
/*-------------------------------------*/
/* テーブル */
/*-------------------------------------*/

table {
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	background: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
Th#th1{
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 10px;
	height: 40px;
	background-color: #F4A460;
	color: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
Th#th2{
	text-align: left;
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 280px;
	height: 40px;
	background-color: #F4A460;
	color: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
Th#th3{
	text-align: left;
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 70px;
	height: 40px;
	background-color: #F4A460;
	color: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}

Td#td1 {
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 10px;
	height: 40px;
	background-color: #EFF5FB;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}


Td#td2 {
	font-size: 1.0em;
	font-weight: medium;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	width: 280px;
	height: 40px;
	background-color: #EFF5FB;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}

Td#td3 {
	font-size: 1.0em;
	font-weight: medium;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	width: 70px;
	height: 40px;
	background-color: #EFF5FB;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
/*-------------------------------------*/
/* フッター */
/*-------------------------------------*/

div#footer{
	text-align: center;
}

div#footer p#copyright{
	font-size: 0.8em;
	text-align: left;
	padding: 5px;
	color: black;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}

