<!DOCTYPE html>
{% load staticfiles %}
{% load rest_framework %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄道くん</title>
	<!-- CSS読み込み -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
	<script type="text/javascript">
	if (navigator.userAgent.indexOf('iPhone') > 0) {
        document.write('<link rel="stylesheet" href="{% static 'css/iphone.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/iphone_config.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/iphone_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/iphone_search_history.css' %}">');
    } else if (navigator.userAgent.indexOf('Android') > 0) {
        document.write('<link rel="stylesheet" href="{% static 'css/android.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/android_config.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/android_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/android_search_history.css' %}">');
    } else {
        document.write('<link rel="stylesheet" href="{% static 'css/styles.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_config.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_search_history.css' %}">');
    }
    </script>
    <!--<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGkTT-OCucXTF5kLkOKTTFKeCC4ljEExE&libraries=places,geometry"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/juniskw/django_tools/master/csrf_token_ajax.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/yorimichi.js' %}"></script>
</head>
<body>
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
			<li>
			    <a href="#" id="select_sub_category" onclick="open_sub_category()">サブカテゴリ編集</a>
	 		    <a href="#" id="select_search_history" onclick="openSearchHistory()">検索履歴</a>
			</li>
	    </div>
    </div>
	<div id="history_overlay" onclick="closePopup()"></div>
	<div id="history_popup">
		<p id="history_pop_title">検索履歴一覧</p>
		<div id="history_list">
			<table id="history" border="brwsr1">
				<Tr>
					<Th id="history_th1">検索場所</Th>
					<Th id="history_th2">検索時間</Th>
					<Th id="history_th3">カテゴリ</Th>
				</Tr>
			</table>
		</div>
		<p id="history_footer">
        	<a href="#openlocation" id="history_close" onclick="closePopup()">閉じる</a>
		</p>
    </div>
	<div id="overlay_sub_category" onclick="closePopup()"></div>
	<div id="popup_sub_category">
		<p id="popup_sub_category_title">サブカテゴリ編集</p>
		<div id="sub_category_list">
			<table id="amusement_table" value="001">アミューズメント<br>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="001">映画館</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="002">博物館</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="003">美術館</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="004">カラオケ</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="005">ボウリング</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="006">ゲームセンター</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="007">遊園地</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="008">スパ</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="009">漫画喫茶</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="010">パチンコ・パチスロ</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="011">雀荘</label></Td>
			</Tr>
			</table>
			<p></p>
			<table id="gourmet_table" value="002">グルメ<br>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="001">ファストフード</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="002">居酒屋</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="003">ダイニングバー</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="004">和食</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="005">洋食</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="006">中華</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="007">フレンチ</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="008">イタリアン</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="009">焼肉・ホルモン</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="010">エスニック</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="011">ラーメン</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="012">お好み焼き･もんじゃ</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="013">バー</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="014">喫茶店</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="015">スイーツ</label></Td>
			</Tr>
			</table>
			<p></p>
			<table id="sport_table" value="003">スポーツ<br>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="001">野球</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="002">サッカー</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="003">ゴルフ</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="004">体育館</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="005">競技場</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="006">プール</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="007">ジム</label></Td>
			</Tr>
			</table>
			<p></p>
			<table id="shopping_table" value="004">ショッピング<br>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="001">デパート</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="002">スーパー</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="003">コンビニ</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="004">衣服</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="005">靴・シューズ</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="006">スポーツ用品</label></Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="007">本</label></Td>
				<Td class="sub_category_td"><label class="sub_name"><input class="sub_check" type="checkbox" value="008">電器店</label></Td>
			</Tr>
			</table>
		</div>
		<p></p>
		<p id="sub_category_footer">
			<input type="submit" value="編集する" onclick="confirm_sub_category()">
        	<a href="#openlocation" id="close_sub_category" onclick="closePopup()">閉じる</a>
		</p>
    </div>
	<p id="product">寄道くん</p>
	<p id="msg">カテゴリを選択してください。</p>
	<form id="radio_item" method="post">
		<input type="radio" name="radio_item" value="001" id="amusement"><label class="label" for="amusement" name="amusement" ><p>&nbsp;ｱﾐｭｰｽﾞﾒﾝﾄ</p></label>
		&nbsp;
		<input type="radio" name="radio_item" value="002" id="gourmet"><label class="label" for="gourmet" name="gourmet"><p>グルメ</p></label>
		<p id="margin"></p>
		<input type="radio" name="radio_item" value="003" id="sports"><label class="label" for="sports" name="sports"><p>スポーツ</p></label>
		&nbsp;
		<input type="radio" name="radio_item" value="004" id="shopping"><label class="label" for="shopping" name="shopping"><p>&nbsp;ｼｮｯﾋﾟﾝｸﾞ</p></label>
	</form>
	{% csrf_token %}
	<!-- ラジオボタン押下時に「disabled=false」に変更して「検索ボタン」を活性化する -->
	<button id ="search_btn" value="検索" onClick="SearchGo()" disabled=true >検索</button>

	<!-- 地図表示させる -->
	<div id="map-wrapper">
		<center><div id="map-canvas" ></div></center>
	</div>
	<br>
	<table id="place_list" border="brwsr1" style="display:none">
		<Tr>
			<Th id="th1">No.</Th>
			<Th id="th2">店舗・施設</Th>
			<Th id="th3">距離</Th>
		</Tr>
	</table>
	<br>
	<div id="footer">
		<p id="copyright">Copyright (c) training_scrum Inc. All Rights Reserved.</p>
	</div>
</body>
</html>