<!DOCTYPE html>
{% load staticfiles %}
{% load rest_framework %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄道くん</title>
	<!-- CSS読み込み -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
	<link rel="stylesheet" href="{% static 'css/config.css' %}">
	<script type="text/javascript">
	if (navigator.userAgent.indexOf('iPhone') > 0) {
        document.write('<link rel="stylesheet" href="{% static 'css/iphone.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/iphone_search_history.css' %}">');
    } else if (navigator.userAgent.indexOf('Android') > 0) {
        document.write('<link rel="stylesheet" href="{% static 'css/android.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/android_search_history.css' %}">');
    } else {
        document.write('<link rel="stylesheet" href="{% static 'css/styles.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_sub_category_modal.css' %}">');
        document.write('<link rel="stylesheet" href="{% static 'css/styles_search_history.css' %}">');
    }
    </script>
    <!--<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGkTT-OCucXTF5kLkOKTTFKeCC4ljEExE&libraries=places,geometry"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/juniskw/django_tools/master/csrf_token_ajax.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/yorimichi.js' %}"></script>
</head>
<body>
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
			<li>
			    <a href="#" onclick="open_sub_category()">サブカテゴリ編集</a>
	 		    <a href="#" onclick="openSearchHistory()">検索履歴</a>
			</li>
	    </div>
    </div>
	<div id="history_overlay" onclick="closeSearchHistory()"></div>
	<div id="history_popup">
		<p id="history_pop_title">検索履歴一覧</p>
		<div id="history_list">
			<table id="history" border="brwsr1">
				<Tr>
					<Th id="history_th1">検索場所</Th>
					<Th id="history_th2">検索時間</Th>
					<Th id="history_th3">カテゴリ</Th>
				</Tr>
			</table>
		</div>
		<p id="history_footer">
        	<a href="#openlocation" id="history_close" onclick="closeSearchHistory()">閉じる</a>
		</p>
    </div>

	<div id="overlay_sub_category" onclick="close_sub_category()"></div>
	<div id="popup_sub_category">
		<p id="popup_sub_category_title">サブカテゴリ編集</p>
		<div id="sub_category_list">
			<table id="amusement_table" value="001">アミューズメント<br>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="001">映画館</Td>
				<Td class="sub_category_td"><input type="checkbox" value="002">博物館</Td>
				<Td class="sub_category_td"><input type="checkbox" value="003">美術館</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="004">カラオケ</Td>
				<Td class="sub_category_td"><input type="checkbox" value="005">ボウリング</Td>
				<Td class="sub_category_td"><input type="checkbox" value="006">ゲームセンター</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="007">遊園地</Td>
				<Td class="sub_category_td"><input type="checkbox" value="008">スパ</Td>
				<Td class="sub_category_td"><input type="checkbox" value="009">漫画喫茶</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="010">パチンコ・パチスロ</Td>
				<Td class="sub_category_td"><input type="checkbox" value="011">雀荘</Td>
			</Tr>
			</table>
		<br>
			<table id="gourmet_table" value="002">グルメ<br>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="001">ファストフード</Td>
				<Td class="sub_category_td"><input type="checkbox" value="002">居酒屋</Td>
				<Td class="sub_category_td"><input type="checkbox" value="003">ダイニングバー</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="004">和食</Td>
				<Td class="sub_category_td"><input type="checkbox" value="005">洋食</Td>
				<Td class="sub_category_td"><input type="checkbox" value="006">中華</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="007">フレンチ</Td>
				<Td class="sub_category_td"><input type="checkbox" value="008">イタリアン</Td>
				<Td class="sub_category_td"><input type="checkbox" value="009">焼肉・ホルモン</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="010">エスニック</Td>
				<Td class="sub_category_td"><input type="checkbox" value="011">ラーメン</Td>
				<Td class="sub_category_td"><input type="checkbox" value="012">お好み焼き・もんじゃ</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="013">バー</Td>
				<Td class="sub_category_td"><input type="checkbox" value="014">喫茶店</Td>
				<Td class="sub_category_td"><input type="checkbox" value="015">スイーツ</Td>
			</Tr>
			</table>
		<br>
			<table id="sport_table" value="003">スポーツ<br>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="001">野球</Td>
				<Td class="sub_category_td"><input type="checkbox" value="002">サッカー</Td>
				<Td class="sub_category_td"><input type="checkbox" value="003">ゴルフ</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="004">体育館</Td>
				<Td class="sub_category_td"><input type="checkbox" value="005">競技場</Td>
				<Td class="sub_category_td"><input type="checkbox" value="006">プール</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="007">ジム</Td>
			</Tr>
			</table>
		<br>
			<table id="shopping_table" value="004">ショッピング<br>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="001">デパート</Td>
				<Td class="sub_category_td"><input type="checkbox" value="002">スーパー</Td>
				<Td class="sub_category_td"><input type="checkbox" value="003">コンビニ</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="004">衣服</Td>
				<Td class="sub_category_td"><input type="checkbox" value="005">靴・シューズ</Td>
				<Td class="sub_category_td"><input type="checkbox" value="006">スポーツ用品</Td>
			</Tr>
			<Tr>
				<Td class="sub_category_td"><input type="checkbox" value="007">本</Td>
				<Td class="sub_category_td"><input type="checkbox" value="008">電器店</Td>
			</Tr>
			</table>
		</div>
		<br>
			<input type="submit" value="編集する" onclick="confirm_sub_category()">
		<br>
		<br>
		<a href="#openlocation" id="close_sub_category" onclick="close_sub_category()">閉じる</a>
	</div>
	<p id="product">寄道くん</p>
	<p id="msg">カテゴリを選択してください。</p>
	<form id="radio_item" method="post">
		<input type="radio" name="radio_item" value="001" id="movie"><label class="label" for="movie" name="movie" ><p>&nbsp;ｱﾐｭｰｽﾞﾒﾝﾄ</p></label>
		&nbsp;
		<input type="radio" name="radio_item" value="002" id="gourmet"><label class="label" for="gourmet" name="gourmet"><p>グルメ</p></label>
		<p id="margin"></p>
		<input type="radio" name="radio_item" value="003" id="sports"><label class="label" for="sports" name="sports"><p>スポーツ</p></label>
		&nbsp;
		<input type="radio" name="radio_item" value="004" id="book"><label class="label" for="book" name="book"><p>本</p></label>
	</form>
	{% csrf_token %}
	<!-- ラジオボタン押下時に「disabled=false」に変更して「検索ボタン」を活性化する -->
	<button id ="search_btn" value="検索" onClick="SearchGo()" disabled=true >検索</button>
	<!-- 地図表示させる -->
	<div id="map-wrapper">
		<center><div id="map-canvas" ></div></center>
	</div>
	<br>
	<table id="place_list" border="brwsr1" style="display:none">
		<Tr>
			<Th id="th1">No.</Th>
			<Th id="th2">店舗・施設</Th>
			<Th id="th3">距離</Th>
		</Tr>
	</table>
	<br>
	<div id="footer">
		<p id="copyright">Copyright (c) training_scrum Inc. All Rights Reserved.</p>
	</div>
	</div>
</body>
</html>